<section id="explore" class="explore">
    <div class="container">
        <div class="section-header">
            <h2>My Housings</h2>
        </div><!--/.section-header-->
        <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let housing of housings">
                <div class="explore-box" (click)="redirectToHousingDetail(housing.housingID)">
                    <div class="explore-content">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                              
                                <img class="img-fluid mb-2" [src]="'data:image/jpeg;base64,' + housing.images[0]" alt="Housing Image" width="400" height="200"> <!-- Utilisez les attributs width et height pour ajuster la taille -->

                                <div class="single-explore-img-info">
                                    <h5 class="card-title">
                                        <span class="badge bg-danger">{{ housing.typeHousing === 'SinglePerson' ? 'Location' : 'Colocation' }}</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h2><a href="#">{{housing.locationHousing}}</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">Prix:</span>
                                    <span class="explore-price">
                                        {{ housing.typeHousing === 'Shared' ? housing.priceHousing + ' DT / personne' : housing.priceHousing + ' DT' }}
                                    </span>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span class="explore-price">Description:</span>
                                            <p class="card-text fs-5">{{ housing.descriptionHousing }}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" (click)="navigateToHousingUpdate(housing.housingID)">Update</button>
                                <td><button (click)="delete(housing.housingID)" class="btn btn-danger">Delete</button>
                                <button class="btn btn-primary" (click)="navigateToHousingDetail(housing.housingID)">Housing details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</section>

