<div class="chat-container">
    <div *ngFor="let message of chatMessages" [ngClass]="message.role === 'user' ? 'user-message' : 'bot-message'" class="message">
      <div *ngIf="message.role === 'bot'" >
<figure class="avatar">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" /></figure>
          </div>
      {{ message.content }}
    </div>
  </div>
  
  <div class="input-container">
    <input [(ngModel)]="userMessage" placeholder="Enter your message" type="text" />
    <button (click)="sendMessage()">Send</button>
  </div>
  