<h2>Item Details</h2><br>
<div class="card mx-auto" style="max-width: 50%;"> <!-- Utilisation de la classe mx-auto pour centrer horizontalement -->
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="label">Label</label>
            <input type="text" [(ngModel)]="label" name="label" id="label" class="form-control" placeholder="Label">
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="category">Category</label>
              <select [(ngModel)]="selectedCategory" name="category" id="category" class="form-control">
                <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="condition">Condition</label>
              <select [(ngModel)]="selectedCondition" name="condition" id="condition" class="form-control">
                <option *ngFor="let cond of conditions" [value]="cond">{{ cond }}</option>
              </select>
            </div>
          </div>
       
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" step="0.01" min="0" [(ngModel)]="price" name="price" id="price" class="form-control" placeholder="Prix de l'article">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="description" name="description" id="description" class="form-control" placeholder="Description de l'article"></textarea>
          </div>
          <div class="form-group">
            <label for="imgArticle">Image</label><br>
            <input type="file" [(ngModel)]="selectedFileName" (change)="onFileSelected($event)" name="imgArticle" id="imgArticle" accept="image/*" class="form-control">

            <img *ngIf="fileURL" class="img-thumbnail mt-2" [src]="fileURL" alt="Article Image">
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-md btn-custom w-100">
                <i class="bi bi-floppy-fill"></i> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                  <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                  <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                </svg> Save
              </button>
              
            </div>
            <div class="col-6">
              <button type="button" (click)="clearForm()" class="btn btn-md btn-custom w-100">
                <i class="bi bi-arrow-clockwise"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                </svg> Clear
              </button>
            </div>                                  
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
