
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    
    <div class="section-header">
        <h2>Transactions</h2>
        <p>Discover all your transactions.</p>
      </div>

<div class="counter">
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                <p class="m-0px font-w-600">Happy Clients</p>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                <p class="m-0px font-w-600">Project Completed</p>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                <p class="m-0px font-w-600">Photo Capture</p>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                <p class="m-0px font-w-600">Telephonic Talk</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 col-lg-1">
      
    </div>
    <div class="col-6 col-lg-4">
        <div id="test">
            <canvas id="myChart"></canvas>
          </div>
    </div>
    <div class="col-6 col-lg-7">
        <div id="test2">
            <br>
            <canvas id="myChart2"></canvas>
          </div>
    </div>
   
</div>




    <br>