.status-img {
    width: auto; 
    height: 100px; 
  }
  
  .reservation-details {
    font-size: 17px; 
  }
  

  .single-explore-item {
    height: 560px;
    width: 100%;
    border: 1px solid #ccc; 
    margin-bottom: 20px;
  }

  .reservation-img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
  }

  .single-explore-txt {
    height: 500px; 
    overflow: hidden;
    padding: 10px;
  }

  .reservation-details {
    font-size: 16px; /* Increase font size for reservation details */
  }

  .row {
    display: flex; /* Use flexbox for the row layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin: 0 -15px; /* Negative margin to counteract padding of columns */
  }

  .col-md-4 {
    flex: 0 0 33.333%; /* Each column occupies 1/3 of the row width */
    max-width: 33.333%; /* Set maximum width for responsiveness */
    padding: 0 15px; /* Add padding to create space between columns */
  }

  
.button-container {
   /* Position button container absolutely */
    bottom: 10px; /* Set bottom spacing */
    left: 0; /* Align button to the left */
    width: 100%; /* Ensure button spans the entire width */
    text-align: center; /* Center button horizontally */
  }