/* Tableau */
.freelance-job-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.freelance-job-table th,
.freelance-job-table td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
}

.freelance-job-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Boutons */
.action-button,
.create-button {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.action-button:hover,
.create-button:hover {
  background-color: #45a049;
}

.create-button {
  margin-bottom: 20px;
}
