<!-- <div class="container">
  <h2 class="text-center mb-4">All Fields</h2>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>Field ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Location</th>
                  <th>Capacity</th>
                  <th>Type</th>
                  <th class="text-center">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let field of fields">
                  <td>{{ field.fieldId }}</td>
                  <td>{{ field.nameField }}</td>
                  <td>{{ field.descriptionField }}</td>
                  <td>{{ field.locationField }}</td>
                  <td>{{ field.capacityField }}</td>
                  <td>{{ field.typeField }}</td>
                  <td class="text-center">
                      <button class="btn btn-primary update-button" [routerLink]="['/admin/update-field', field.fieldId]">Update Field</button>
                      <button class="btn btn-danger" (click)="deleteField(field.fieldId)">Delete Field</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item" *ngFor="let page of pagesArray">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
      </ul>
  </div>
  <div class="text-center">
      <button class="btn btn-success" (click)="navigateToAddField()">Add Field</button>
  </div>
</div> -->
<div class="container">
    <h2 class="text-center mb-4">All Fields</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Field ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Capacity</th>
                    <th>Type</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let field of fields">
                    <td>{{ field.fieldId }}</td>
                    <td>{{ field.nameField }}</td>
                    <td>{{ field.descriptionField }}</td>
                    <td>{{ field.locationField }}</td>
                    <td>{{ field.capacityField }}</td>
                    <td>{{ field.typeField }}</td>
                    <td class="text-center">
                        <button class="btn btn-primary update-button" [routerLink]="['/admin/update-field', field.fieldId]">Update Field</button>
                        <!-- <button class="btn btn-danger" (click)="deleteField(field.fieldId)">Delete Field</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item" *ngFor="let page of pagesArray">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
        </ul>
    </div>
    <div class="text-center">
        <!-- <button class="btn btn-success" (click)="navigateToAddField()">Add Field</button> -->
    </div>
  </div>
  <!-- <div class="container">
      <h2 class="text-center mb-4">Fields</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Field Name</th>
              <th scope="col">Type</th>
              <th scope="col">Capacity</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let field of items">
              <td>{{ field.fieldName }}</td>
              <td>{{ field.typeField }}</td>
              <td>{{ field.capacityField }}</td>
              <td>
                <button class="btn btn-primary" (click)="navigateToUpdate(field)">Update</button>
                <button class="btn btn-danger" (click)="deleteField(field.fieldId)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item" *ngFor="let page of pagesArray">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="navigateToAddField()">Add Field</button>
      </div>
    </div> -->