
<section id="explore" class="explore">
  <div class="container">
    <div class="section-header">
      <h2>List of Sport Teams</h2>
      <p>Explore different sport teams</p>
    </div>
    <div class="row">
      
      <div class="col-md-4"*ngFor="let team of pagedSportTeams">
        <div class="single-explore-item">
          <div class="single-explore-img">
            <div class="image-container">
              <img [src]="'http://localhost:8089/projectARCTIC3/static/photos/' + team.logoTeam" alt="Team Logo" class="team-logo">
            </div>
          </div>
          <div class="single-explore-txt">
            <h2>{{ team.nameTeam }}</h2>
            <div class="explore-person">
              <h6>Number Of Players: {{team.userCount}}</h6>
            </div>
            <div class="explore-open-close-part text-center">
              <br>
              <button class="btn btn-primary text-center" (click)="navigateToDetails(team.teamId)">View Team Details</button>
              <div class="explore-map-icon">
                <a href="#"><i data-feather="map-pin"></i></a>
                <a href="#"><i data-feather="upload"></i></a>
                <a href="#"><i data-feather="heart"></i></a>
              </div>
            </div>
          </div>
          
        </div>
        
        </div>
      </div>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="pageChanged(currentPage - 1)">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
          <button class="page-link" (click)="pageChanged(page)">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === pages.length">
          <button class="page-link" (click)="pageChanged(currentPage + 1)">Next</button>
        </li>
      </ul>
      <button class="btn btn-primary text-center" (click)="navigateToAddTeam()">Add New Team</button>
    </div>
 
</section>

