<div class="container">
  <h2 class="text-center mb-4">Reservations</h2>
  <div class="table-responsive">
      <table class="table table-bordered table-hover">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Number of Players</th>
                  <th scope="col">Status</th>
     

                  <th scope="col">Field Type</th>
                  <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let reservation of reservations">
                  <td>{{ reservation[0].startDate | date:'medium' }}</td>
                  <td>{{ reservation[0].endDate | date:'medium' }}</td>
                  <td>{{ reservation[0].nbPlayers }} / {{ reservation[1].capacityField }}</td>
                  <td>{{ reservation[0].resStatus }}</td>

               
                  <td>{{ reservation[1].typeField }}</td>
                  <td>
                      <!-- <button class="btn btn-primary mr-2" (click)="navigateToUpdate(reservation.reservationId)">Update</button> -->
                      <button class="btn btn-primary" (click)="navigateToUpdate(reservation)">Update</button>

                      <button class="btn btn-danger" (click)="cancelReservation(reservation.reservationId)">Cancel</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="text-center">
      <button class="btn btn-primary" (click)="navigateToAddReservation()">Add Reservation</button>
  </div>
</div>
