<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css" rel="stylesheet">
<div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <h2 class="font-weight-light">Our Pricing</h2>
                <p class="text-muted mt-4 title-subtitle mx-auto">It is a long established fact that a reader will be of a page when established fact looking at its layout.</p>
            </div>
        </div>                
        <div class="row mt-5">
            <div class="col-lg-4">
        		<div class="bg-white mt-3 price-box">
        			<div class="pricing-name text-center">
        				<h4 class="mb-0">Deluxe</h4>
        			</div>
        			<div class="plan-price text-center mt-4">
        				<h1 class="text-custom font-weight-normal mb-0">$9<span>/Month</span></h1>
        			</div>
        			<div class="price-features mt-5">
        				<p><i class="mdi mdi-check"></i> Bandwidth: <span class="font-weight-bold">1GB</span></p>
        				<p><i class="mdi mdi-check"></i> Onlinespace: <span class="font-weight-bold">500MB</span></p>
        				<p><i class="mdi mdi-close"></i> Support: <span class="font-weight-bold">No</span></p>
        				<p><i class="mdi mdi-check"></i> Domain: <span class="font-weight-bold">1</span></p>
        				<p><i class="mdi mdi-check"></i> Hidden Fees: <span class="font-weight-bold">No</span></p>
        			</div>
        			<div class="text-center mt-5">
        				<a href="#" class="btn btn-custom">Join Now</a>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="bg-white mt-3 price-box">
        			<div class="pricing-name text-center">
        				<h4 class="mb-0">Economy</h4>
        			</div>
        			<div class="plan-price text-center mt-4">
        				<h1 class="text-custom font-weight-normal mb-0">$19<span>/Month</span></h1>
        			</div>
        			<div class="price-features mt-5">
        				<p><i class="mdi mdi-check"></i> Bandwidth: <span class="font-weight-bold">2GB</span></p>
        				<p><i class="mdi mdi-check"></i> Onlinespace: <span class="font-weight-bold">1GB</span></p>
        				<p><i class="mdi mdi-check"></i> Support: <span class="font-weight-bold">Yes</span></p>
        				<p><i class="mdi mdi-check"></i> Domain: <span class="font-weight-bold">3</span></p>
        				<p><i class="mdi mdi-check"></i> Hidden Fees: <span class="font-weight-bold">No</span></p>
        			</div>
        			<div class="text-center mt-5">
        				<a href="#" class="btn btn-custom">Join Now</a>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="bg-white mt-3 price-box">
        			<div class="pricing-name text-center">
        				<h4 class="mb-0">Ultimate</h4>
        			</div>
        			<div class="plan-price text-center mt-4">
        				<h1 class="text-custom font-weight-normal mb-0">$29<span>/Month</span></h1>
        			</div>
        			<div class="price-features mt-5">
        				<p><i class="mdi mdi-check"></i> Bandwidth: <span class="font-weight-bold">3GB</span></p>
        				<p><i class="mdi mdi-check"></i> Onlinespace: <span class="font-weight-bold">2GB</span></p>
        				<p><i class="mdi mdi-check"></i> Support: <span class="font-weight-bold">Yes</span></p>
        				<p><i class="mdi mdi-check"></i> Domain: <span class="font-weight-bold">Unlimited</span></p>
        				<p><i class="mdi mdi-check"></i> Hidden Fees: <span class="font-weight-bold">No</span></p>
        			</div>
        			<div class="text-center mt-5">
        				<a href="#" class="btn btn-custom">Join Now</a>
        			</div>
        		</div>
        	</div>
        </div>
	</div>