
  


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">
            <h1 class="text-center mb-4">Programmer une visite</h1>
            <form (ngSubmit)="submitVisit()">
             
              <div class="form-group">
                <label>Date et heure de début:</label>
                <p><strong>Start Date Time:</strong> {{ visit.startDateTime ? visit.startDateTime.toISOString() : 'N/A' }}</p>
    </div>
              
    <div>
        <label>Date et heure de fin:</label>
        
<p><strong>End Date Time:</strong> {{ visit.endDateTime ? visit.endDateTime.toISOString() : 'N/A' }}</p>

      </div>
      
              
              
            
              <br>
              <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-md btn-danger w-100">Confirmer la visite</button>
                  </div>
                                               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-popup "  *ngIf=" showpopup" (click)="closepopup()">
    <p>Visit added  successfully </p>
    </div>
  
