.card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    min-height: 100px;
  }
  
  .img-thumbnail {
    max-width: 100px;
    max-height: 100px;
  }
  
  .btn {
    margin-top: 10px;
  }
  .small-popup {
    width: 100%; /* Set width to 100% to span the length of the page /
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0; / Set top to 0 to align with the top of the page /
    left: 0;
    background-color: #f8f9fa;
    color: #333;
    border-radius: 0; / Set border-radius to 0 for a rectangular shape */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .small-popup p {
    font-size: 15px;
    margin-bottom: 5px;
    color: #000000;
  
  }
  