<section id="works" class="works">
  <div class="container">
    <div class="section-header">
      <h2>Stages</h2>
    </div><!--/.section-header-->
    <div class="works-content">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let internship of items">
          <div class="single-how-works">
            <div class="single-how-works-icon">
              <i class="lni lni-briefcase"></i>
            </div>
            <h2>{{ internship.titleInternship }}</h2>
            <p>{{ internship.descriptionInternship }}</p>
            <button class="btn btn-primary" (click)="showDetails(internship)">Show Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ul class="pagination">
  <li [class.disabled]="currentPage == 1">
    <a (click)="changePage(currentPage - 1)" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li *ngFor="let page of pagesArray" [class.active]="currentPage === page">
    <a (click)="changePage(page)">{{ page }}</a>
  </li>
  <li [class.disabled]="currentPage == totalPages">
    <a (click)="changePage(currentPage + 1)" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
