<div class="card mx-auto" style="max-width: 50%;"> 
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
        <h3>{{ mode === 'ajout' ? 'Add Item' : 'Modify Item' }}</h3>
 <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
  <div class="form-group">
    <label for="label">Label</label>
    <input type="text" formControlName="label" [(ngModel)]="label" name="label" id="label" class="form-control" placeholder="Label">
    <div class="alert alert-danger" *ngIf="this.myForm.controls['label'].invalid && this.myForm.controls['label'].touched">
      <p *ngIf="this.myForm.controls['label'].hasError('required')">Label is required</p>
      <p *ngIf="this.myForm.controls['label'].hasError('maxLength')">Max 10 characters  </p>
    </div>
    
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <label>Category</label>
      <select formControlName="category" [(ngModel)]="selectedCategory" name="category">
        <option *ngFor="let cat of categories" [value]="cat" [selected]="cat === article.categoryArticle">{{ cat }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="this.myForm.controls['category'].invalid && this.myForm.controls['category'].touched">
        Category is required
    </div>
    </div>
    <div class="col-md-6">
      <label>Condition</label>
      <select  formControlName="condition" [(ngModel)]="selectedCondition" name="condition">
        <option *ngFor="let cond of conditions" [value]="cond" [selected]="cond === article.conditionArticle">{{ cond }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="this.myForm.controls['condition'].invalid && this.myForm.controls['condition'].touched">
        Condition is required
    </div>
    </div>
  </div>
  
  <div>
   <div>
    <div class="form-group">
    <label>Price</label>
    <input formControlName="price" type="text" [(ngModel)]="price" name="price" [placeholder]="article.priceArticle">
    <div class="alert alert-danger" *ngIf="this.myForm.controls['price'].invalid && this.myForm.controls['price'].touched">
      <p *ngIf="this.myForm.controls['price'].hasError('required')">Price is required</p>
      <p *ngIf="this.myForm.controls['price'].hasError('pattern')">Price must be a number </p>
    </div>
    
</div></div>

  
<div>
  <div class="form-group">
  <label>Description:</label>
  <textarea formControlName="description" [(ngModel)]="description" name="description" [placeholder]="article.descriptionArticle" ></textarea>
  <div class="alert alert-danger" *ngIf="this.myForm.controls['description'].invalid && this.myForm.controls['description'].touched">
    <p *ngIf="this.myForm.controls['description'].hasError('required')">Description is required</p>
  </div>
  
</div></div>

  </div>

  <div *ngIf="mode === 'modification'">
    <div class="form-group">
    <label>Old Image:</label>
    <img *ngIf="article.imgArticle" class="img-thumbnail" [src]="'http://localhost:8089/projectARCTIC3/photos/' + article.imgArticle" alt="Article Image">
  </div></div>
  
  <div>  <div class="form-group">
    <label>New image:</label>
    <img  formControlName="image" *ngIf="fileURL" class="img-thumbnail" [src]="fileURL" alt="Article Image">
    <input type="file" (change)="onFileSelected($event)" name="imgArticle" accept="image/*">
    <div class="alert alert-danger" *ngIf="this.myForm.controls['image'].invalid && this.myForm.controls['image'].touched">
      Image is required
    </div>
    
  </div></div>
  <div class="a d-flex justify-content-center align-items-end mb-4 mt-2">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-md btn-custom" [disabled]="myForm.invalid">
          {{ mode === 'ajout' ? 'Add' : 'Modify' }}
          <i class="bi bi-plus-lg"></i> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
          </svg>
        </button>
        <span class="mx-2"></span> 
        <button type="button" (click)="clearForm()" class="btn btn-md btn-custom">
          <i class="bi bi-arrow-clockwise"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
          </svg> </i> Clear
        </button>
      </div>
    </div>
  </div>
  
</form>  