  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ sportTeam.nameTeam }}</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="container">
          <br>
          <br>
          <h4>Add Player to Team</h4>
          <div class="form-group">
            <label for="userEmail">User Email:</label>
            <input type="email" class="form-control" id="userEmail" [(ngModel)]="userEmail">
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" (click)="addUserToTeam()">Add Player</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" (click)="navigateToUpdateTeamPage(sportTeamId)">Update Your Team</button>
            </div>
          </div>
          <br>
        </div>
       
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div *ngIf="sportTeam.logoTeam" class="text-center">
          <img class="img-thumbnail" [src]="'http://localhost:8089/projectARCTIC3/static/photos/' + sportTeam.logoTeam" alt="Team Logo" style="width: 300px; height: auto;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <h3>Team Members</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Badge</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of pagedUsersWithParticipation">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>
              <img *ngIf="user.badge === 'SILVER'" src="assets/img/Silver3.png" alt="Silver Badge" class="img-thumbnail" width="100" height="100">
              <img *ngIf="user.badge === 'GOLD'" src="assets/img/gold3.png" alt="Gold Badge" class="img-thumbnail" width="100" height="100">
              <img *ngIf="user.badge === 'DIAMOND'" src="assets/img/Diamond3.png" alt="Diamond Badge" class="img-thumbnail" width="100" height="100">
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="RemoveUserfromTeam(user.userId)">Remove User</button>
            </td>
          </tr>
        </tbody>
      </table>

      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage1 === 1">
          <button class="page-link" (click)="pageChangedWithParticipation(currentPage1 - 1)" [disabled]="currentPage1 === 1">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of pagesWithParticipation" [class.active]="page === currentPage1">
          <button class="page-link" (click)="pageChangedWithParticipation(page)">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage1 === pagesWithParticipation.length">
          <button class="page-link" (click)="pageChangedWithParticipation(currentPage1 + 1)" [disabled]="currentPage1 === pagesWithParticipation.length">Next</button>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
        
        <div class="col-md-9">
            <h3>Applicants List</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Badge</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of pagedUsersWithoutParticipation">
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                <img *ngIf="user.badge === 'SILVER'" src="assets/img/Silver3.png" alt="Silver Badge" class="img-thumbnail" width="100" height="100">
                                <img *ngIf="user.badge === 'GOLD'" src="assets/img/gold3.png" alt="Gold Badge" class="img-thumbnail" width="100" height="100">
                                <img *ngIf="user.badge === 'DIAMOND'" src="assets/img/Diamond3.png" alt="Diamond Badge" class="img-thumbnail" width="100" height="100">
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm" (click)="acceptUser(user.userId)">Accept</button>
                                <button class="btn btn-danger btn-sm" (click)="RemoveUserfromTeam(user.userId)">Refuse</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- Pagination -->
            <div class="text-center">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage2 === 1">
                        <button class="page-link" (click)="pageChangedWithoutParticipation(currentPage2 - 1)" [disabled]="currentPage2 === 1">Previous</button>
                    </li>
                    <li class="page-item" *ngFor="let page of pagesWithoutParticipation" [class.active]="page === currentPage2">
                        <button class="page-link" (click)="pageChangedWithoutParticipation(page)">{{ page }}</button>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage2 === pagesWithoutParticipation.length">
                        <button class="page-link" (click)="pageChangedWithoutParticipation(currentPage2 + 1)" [disabled]="currentPage2 === pagesWithoutParticipation.length">Next</button>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <!-- Best Player -->
        <div class="col-md-3" *ngIf="usersWithoutParticipation.length > 0">
          <div class="card" style="text-align: center; width: 14rem;">
              <img *ngIf="userWithMostReservations && userWithMostReservations.badge === 'SILVER'" src="assets/img/Silver3.png" alt="Silver Badge" class="card-img-top img-thumbnail" width="100" height="100">
              <img *ngIf="userWithMostReservations && userWithMostReservations.badge === 'GOLD'" src="assets/img/gold3.png" alt="Gold Badge" class="card-img-top img-thumbnail" width="100" height="100">
              <img *ngIf="userWithMostReservations && userWithMostReservations.badge === 'DIAMOND'" src="assets/img/Diamond3.png" alt="Diamond Badge" class="card-img-top img-thumbnail" width="100" height="100">
              <div class="card-body">
                  <h5 class="card-title">{{ userWithMostReservations?.firstName }} {{ userWithMostReservations?.lastName }}</h5>
                  <h6 class="card-text">We recommend this player for your team.</h6>
              </div>
          </div>
      </div>

    </div>
</div>

  