<div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
  <form>
    <div class="row g-3">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" [(ngModel)]="job.titleJob" id="title" name="title" placeholder="Titre">
          <label for="title">Titre</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" [(ngModel)]="job.clientJob" id="client" name="client" placeholder="Client">
          <label for="client">Client</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input type="text" class="form-control" [(ngModel)]="job.durationJob" id="duration" name="duration" placeholder="Durée">
          <label for="duration">Durée</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input type="text" class="form-control" [(ngModel)]="job.descriptionJob" id="description" name="description" placeholder="Description">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input type="text" class="form-control" [(ngModel)]="job.locationJob" id="location" name="location" placeholder="Emplacement">
          <label for="location">Emplacement</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input type="text" class="form-control" [(ngModel)]="job.skillsRequiredJob" id="skillsRequired" name="skillsRequired" placeholder="Compétences requises">
          <label for="skillsRequired">Compétences requises</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input type="text" class="form-control" [(ngModel)]="job.budgetJob" id="budget" name="budget" placeholder="Budget">
          <label for="budget">Budget</label>
        </div>
      </div>
      <div class="form-group">
        <label for="deadline">Date limite</label>
        <div class="col-12">
        <div class="form-group">

                    <input type="datetime-local" [(ngModel)]="job.deadlineJob" class="form-control" id="data" name="data">
        </div>
      </div>
      </div>
      <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <form (ngSubmit)="createFreelance(job)">
          <div class="row g-3">
            <!-- Vos champs de formulaire -->
            <div class="col-12">
              <button class="btn btn-primary w-100 py-3" type="submit">Créer</button>
            </div>
          </div>
        </form>
      </div>
</div>
