<div class="container-fluid card login-container">
    <h3 class="text-center">Create an account</h3>
    <hr>
    <!-- <div class="alert alert-danger" role="alert">
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div> -->
    <div class="mb-3">
      <label for="password" class="form-label">Username</label>
      <input [(ngModel)]="registerRequest.username" type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="mb-3">
      <label for="firstname" class="form-label">First name</label>
      <input [(ngModel)]="registerRequest.firstName" type="text" class="form-control" id="firstname" placeholder="Firstname">
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last name</label>
      <input [(ngModel)]="registerRequest.lastName" type="text" class="form-control" id="lastname" placeholder="Lastname">
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Adresse</label>
      <input [(ngModel)]="registerRequest.adresse" type="text" class="form-control" id="adresse" placeholder="adresse">
    </div>
    <div class="mb-3">
      <label for="login" class="form-label">Email address</label>
      <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="  ">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Role </label>
      <select [(ngModel)]="registerRequest.role" class="form-select" id="role" name="role">
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>    
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Phone</label>
      <input [(ngModel)]="registerRequest.phone" type="number" class="form-control" id="phone" placeholder="0">
    </div>
    <!-- <div class="mb-3">
      <label for="password" class="form-label">Upload your picture</label>
      <input [(ngModel)]="registerRequest.imgUser" class="form-control" id="phone" placeholder="12345678">
    </div> -->
    <div class="d-flex justify-content-between mb-3">
      <button (click)="register()" type="button" class="btn btn-primary">
        <em class="fas fa-sign-in-alt">&nbsp;Create an account</em>
      </button>
      <div>
        Already have an account?&nbsp;
        <button (click)="login()" type="button" class="btn btn-link">
          Login
        </button>
      </div>
    </div>
  </div>