
      <button class="uk-offcanvas-close" type="button" uk-close></button>

        <nav class="uk-navbar-container" data-uk-scrollspy-nav="offset: 0; closest: li; scroll: true">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a routerLink="/home" uk-icon="icon: triangle-down">Home</a>

                </li>





             <!--
  <li>
                    <a routerLink="/list-topics" routerLinkActive="uk-active">list-topics</a>
                </li>
                <li>
                    <a routerLink="/kooo" uk-icon="icon: triangle-down">kooo</a>
                    
                </li>
                <li>
                    <a routerLink="/statistics" uk-icon="icon: triangle-down">statistics</a>

                </li>
                <li>
                    <a routerLink="/client/events" uk-icon="icon: triangle-down">Events</a>
                    
                </li>
                <li>
                    <a routerLink="/reviews" routerLinkActive="uk-active">reviews</a>
                </li>
 <li>
                    <a routerLink="/buy" routerLinkActive="uk-active">buy</a>
                </li>

              <li>
                <a routerLink="/internships" uk-icon="icon: triangle-down">Internship</a>


                <li>
                    <a routerLink="/statistics" uk-icon="icon: triangle-down">statistics</a>

                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="uk-active">Contact</a>
                </li>

                 <li>
                    <a routerLink="/account" routerLinkActive="uk-active">account</a>
                </li>
                <li>
                    <a routerLink="/table" routerLinkActive="uk-active">table</a>
                </li>
             -->

             <li class="uk-active">
                <a routerLink="/housing-list" uk-icon="icon: triangle-down">rent</a>

            </li>


           


          


             <li>
                <a routerLink="/transaction" routerLinkActive="uk-active">transaction</a>
            </li>
          
            <li>
              <a routerLink="/allsportteam" routerLinkActive="uk-active">SportTeams</a>
          </li>
          <li>
              <a routerLink="/all-reservations" routerLinkActive="uk-active">Reservations</a>
          </li>
          <li>
              <a routerLink="/freelances" uk-icon="icon: triangle-down">Freelance</a>

          </li>

        <!--
            <li>
            <a routerLink="/client/events" uk-icon="icon: triangle-down">events</a>

        </li>
        -->  
          <li>
              <a routerLink="/internships" uk-icon="icon: triangle-down">Internships</a>

          </li>
          <li>
            <a routerLink="/recommendations" uk-icon="icon: triangle-down">Recommendations</a>
        </li>

        <li>
            <a routerLink="/items" routerLinkActive="uk-active">items</a>
        </li>

        <li>
            <a routerLink="/addItem" routerLinkActive="uk-active">add items</a>
        </li>
        
        <li>
            <a routerLink="/myItems" routerLinkActive="uk-active">my items</a>
        </li>
            <li>
                <a routerLink="/chatbot" routerLinkActive="uk-active">chat</a>
            </li>

         

            

            <li *ngIf="role === 'admin'">
                <a routerLink="/internshipRoom/1" routerLinkActive="uk-active">meet</a>
            </li>
            

            <li *ngIf="role === 'admin'">
                <a routerLink="/admin/statistics" routerLinkActive="uk-active">Admin</a>
            </li>

                <li (click)="redirectToCart()">
                    <i class="bi bi-basket2"></i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                        <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z"/>
                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6z"/>
                      </svg> <span class="icon-count">{{ cartItemCount }}</span>
                    </li>
                <li (click)="redirectToFavorites()">
                    <i class="bi bi-clipboard2-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard2-heart" viewBox="0 0 16 16">
                        <path d="M10.058.501a.5.5 0 0 0-.5-.501h-2.98c-.276 0-.5.225-.5.501A.5.5 0 0 1 5.582 1a.497.497 0 0 0-.497.497V2a.5.5 0 0 0 .5.5h4.968a.5.5 0 0 0 .5-.5v-.503A.497.497 0 0 0 10.555 1a.5.5 0 0 1-.497-.499"/>
                        <path d="M3.605 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5h-.5a.5.5 0 0 1 0-1h.5a1.5 1.5 0 0 1 1.5 1.5v12a1.5 1.5 0 0 1-1.5 1.5h-9a1.5 1.5 0 0 1-1.5-1.5v-12a1.5 1.5 0 0 1 1.5-1.5h.5a.5.5 0 0 1 0 1z"/>
                        <path d="M8.068 6.482c1.656-1.673 5.795 1.254 0 5.018-5.795-3.764-1.656-6.69 0-5.018"/>
                      </svg> <span class="icon-count">{{ favoritesCount }}</span>
                  </li></ul>

        </nav>
  
