.icon-count {
  background-color: #c9c8c8;
  color: white;
  border-radius: 50%;
  padding: 0 5px;
  margin-left: 5px;
  font-size: 12px; 
}

nav {
  background-color: #f8f8f8;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 20px;
}


#liens {
  margin-right: 500px; 
  margin-top: 70px;
}


#logo {
  height: 80px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

nav ul li a {
  color: #7775f5;
  text-decoration: none;
  font-weight: bold;
}
@media print {
  .no-print {
    display: none !important;
  }

.print-only {
    display: block !important;
  }
}

