<div id="offcanvas-flip" class="mobile-navbar uk-mobile-navbar" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <nav class="uk-navbar-container" data-uk-scrollspy-nav="offset: 0; closest: li; scroll: true">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a routerLink="/home" uk-icon="icon: triangle-down">Home</a>
                    
                </li>
                <li>
                    <a routerLink="/list-topics" routerLinkActive="uk-active">list-topics</a>
                </li>
                <li>
                    <a routerLink="/works" uk-icon="icon: triangle-down">works</a>
                    
                </li>
                <li>
                    <a routerLink="/statistics" uk-icon="icon: triangle-down">statistics</a>
                    
                </li>
                <li>
                    <a routerLink="/explore" uk-icon="icon: triangle-down">explore</a>
                    
                </li>
                <li>
                    <a routerLink="/reviews" routerLinkActive="uk-active">reviews</a>
                </li>
                <li>
                    <a routerLink="/buy" routerLinkActive="uk-active">buy</a>
                </li>

                
                <li>
                    <a routerLink="/blog" uk-icon="icon: triangle-down">blog</a>
                   
                </li>

                <li>
                    <a routerLink="/statistics" uk-icon="icon: triangle-down">statistics</a>
                   
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="uk-active">Contact</a>
                </li>

                
                 <li>
                    <a routerLink="/account" routerLinkActive="uk-active">account</a>
                </li>
                <li>
                    <a routerLink="/table" routerLinkActive="uk-active">table</a>
                </li>
                <li>
                    <a routerLink="/admin/all" routerLinkActive="uk-active">admin</a>
                </li>
                </ul>
        </nav>
    </div>
</div>
