.icon-count {
  background-color: #f8f8f8;
  color: white;
  border-radius: 50%;
  padding: 0 5px;
  margin-left: 5px;
  font-size: 12px; /* Increase the font size */
}

nav {
  background-color: #F2F3F4;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  padding: 0 20px;
}


#liens {
  margin-right: 500px; 
  margin-top: 70px;
}


#logo {
  height: 80px; /* Adjust the height of the logo */
}

nav ul {
  display: flex;
  align-items: center; /* Align items vertically */
}

nav ul li {
  margin-right: 20px;
  display: flex; /* Use flex layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align items horizontally */
}

nav ul li a {
  color: #c00d0d;
  text-decoration: none;
  font-weight: bold;
}
@media print {
  .no-print {
    display: none !important;
  }

.print-only {
    display: block !important;
  }
}