<div class="container mt-4">
  <div class="card">
  
    <div class="card-body">
      <ng-container *ngIf="housing; else loadingTemplate">
        <div class="row">
          <div class="col-md-6">    
          
            <h5 class="card-title">
              {{ housing.typeHousing === 'SinglePerson' ? 'Location' : 'Colocation' }}
            </h5>
            <p class="card-text description">Description: {{ housing.descriptionHousing }}</p>
            <p class="card-text location">Location: {{ housing.locationHousing }}</p>
            <p class="card-text availability">Availability: {{ housing.availabilityHousing }}</p>
            <p class="card-text price">Price: {{ housing.priceHousing }} DT</p>
          
            <button class="btn btn-custom" (click)="navigateToListTimeSlot()">Reserver une visite</button>
          </div>
          <div class="col-md-6">
            <iframe [src]="mapUrl" width="100%" height="300" frameborder="0"></iframe>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <h5>Images</h5>
            <div class="row d-flex justify-content-between">
              <div class="card" style="width: 450px;">
                <img class="card-img-top" [src]="'data:image/jpeg;base64,' + housing.images[0]" alt="Housing Image">
               
              </div>
              
              <div class="col-md-3 mb-3" *ngFor="let image of housing.images">
                <a data-toggle="modal" [attr.data-target]="'#imageModal' + image">
                </a>






























 <br> <br> <br>


                <ng-container *ngIf="possible">
                  <button *ngIf="possible.banned === 0" class="btn btn-custom" (click)="pay(productName, productPrice)">effectuer une transaction</button>
          
                  <div *ngIf="possible.banned !== 0">
                    <!-- Button trigger modal -->
                    <button type="button custom-button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      effectuer une transaction
                    </button>
                  </div>
                </ng-container>
          
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ban Information</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!-- Affiche le nombre de jours dans le modal -->
                        <div *ngIf="possible && possible.days">"You are banned for 30 days because you have written inappropriate content. It's remaining {{ possible.days }} days."</div>
                      </div>
                      <div class="modal-footer">
                        <!-- Ajoutez les boutons de la modal si nécessaire -->
                      </div>
                    </div>
                  </div>
                </div>












                <!--                 <button class="btn btn-custom" (click)="navigateToTransaction()">Effectuer une transaction</button>
 -->
                <div class="modal fade" [id]="'imageModal' + image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img class="img-fluid mb-2" [src]="'data:image/jpeg;base64,' + housing.images" alt="Housing Image" width="200" height="200"> <!-- Utilisez les attributs width et height pour ajuster la taille -->
                        <img class="img-fluid mb-2" [src]="'data:image/jpeg;base64,' + image" alt="Housing Image" width="200" height="200"> <!-- Utilisez les attributs width et height pour ajuster la taille -->

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Affichage des créneaux horaires disponibles -->
        
      </ng-container>
      <ng-template #loadingTemplate>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>
</div>
