





<div class="wrapper">
    <aside id="sidebar" [class.expand]="isSidebarExpanded">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="#">esprit Market</a>
            </div>
        </div>
        <ul class="sidebar-nav">
          

            <li class="sidebar-item">
                <a routerLink="admin/all-users" class="sidebar-link">
                    <i class="lni lni-cog"></i>
                    <span>all users</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="admin/all-complaints" class="sidebar-link">
                    <i class="lni lni-cog"></i>
                    <span>all complaints</span>
                </a>
            </li>

          <li class="sidebar-item">
              <a routerLink="/admin/transaction" class="sidebar-link">
                  <i class="lni lni-cog"></i>
                  <span>transaction</span>
              </a>
          </li>

          <li class="sidebar-item">
              <a routerLink="/admin/statistics" class="sidebar-link">
                  <i class="lni lni-agenda"></i>
                  <span>statistics </span>
              </a>
          </li>

          <li class="sidebar-item">
              <a routerLink="/admin/banned" class="sidebar-link">
                  <i class="lni lni-agenda"></i>
                  <span>banned users </span>
              </a>
          </li>

         

          
          <li class="sidebar-item">
            <a routerLink="admin/internship" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>internship</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a routerLink="admin/freelance" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>freelance</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a routerLink="admin/newInternship" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>add internship </span>
            </a>
        </li>

        <li class="sidebar-item">
            <a routerLink="admin/files" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>files</span>
            </a>
        </li>


        <li class="sidebar-item">
            <a routerLink="admin/adminItems" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>all items</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a routerLink="admin/charts" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>statistics items</span>
            </a>
        </li>


      

       

        <li class="sidebar-item">
            <a routerLink="admin/add-field" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>add field </span>
            </a>
        </li>
        
      



        <li class="sidebar-item">
            <a routerLink="/admin/events" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span> events </span>
            </a>
        </li>
        <li class="sidebar-item">
            <a routerLink="housing-add" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>add housing </span>
            </a>
        </li>
        <li class="sidebar-item">
            <a routerLink="housing-rec" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>rec housing </span>
            </a>
        </li>
        <li class="sidebar-item">
            <a routerLink="housing-list" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>list housing </span>
            </a>
        </li>
      

        

        <li class="sidebar-item">
            <a routerLink="/home" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>back </span>
            </a>
        </li>

       
            

            <!--


          
          <li class="sidebar-item">
                <a routerLink="/admin/all" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>all</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/admin/update" class="sidebar-link">
                    <i class="lni lni-agenda"></i>
                    <span>update</span>
                </a>
            </li>
            <li class="sidebar-item">
              <a routerLink="/home" class="sidebar-link">
                  <i class="lni lni-agenda"></i>
                  <span>back </span>
              </a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/admin/internship" class="sidebar-link">
                <i class="lni lni-joomla-original"></i>                        <span>Internships</span>
            </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/admin/freelance" class="sidebar-link">
              <i class="lni lni-joomla-original"></i>                        <span>Freelance</span>
          </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/admin/files" class="sidebar-link">
            <i class="lni lni-joomla-original"></i>                        <span>Files</span>
        </a>
    </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="lni lni-protection"></i>
                    <span>Auth</span>
                </a>
               <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Login</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Register</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                    <i class="lni lni-layout"></i>
                    <span>Multi Level</span>
                </a>
                <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                            Two Links
                        </a>
                        <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Link 1</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Link 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-popup"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li class="sidebar-item">
              <a [routerLink]="['/admin/allsportteam']" class="sidebar-link">
                  <i class="lni lni-popup"></i>
                  <span>All SportTeams</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a [routerLink]="['/admin/all-reservations']" class="sidebar-link">
                  <i class="lni lni-popup"></i>
                  <span>All Reservations</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a [routerLink]="['/admin/all-fields']" class="sidebar-link">
                  <i class="lni lni-popup"></i>
                  <span>All Fields</span>
              </a>
          </li>
          
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-cog"></i>
                    <span>Setting</span>
                </a>
            </li>


            -->
        </ul>
        <div class="sidebar-footer">
            <a href="#" class="sidebar-link" (click)="logout()">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
    <div class="main p-3">



  <router-outlet></router-outlet> <!-- Contenu principal change ici -->



    </div>
</div>