.checked {
    color: orange;
  }
  




  .card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.card .card-header {
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}


.table:not(.table-sm) thead th {
  border-bottom: none;
  background-color: #e9e9eb;
  color: #666;
  padding-top: 15px;
  padding-bottom: 15px;
}

.table .table-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #bbbbbb;
  -webkit-box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
  -moz-box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
  -ms-box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
  box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
  text-shadow: 0 0 black;
}

.table .team-member-sm {
  width: 32px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}



.badge-soft-success {
  color: #63ad6f !important;
  background-color: rgba(99,173,111,.1);
}








  








