.card {
  border: none; /* Supprime la bordure */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre */
}

.form-floating {
  margin-bottom: 20px; /* Espacement entre les champs de formulaire */
}

.form-control {
  height: 50px; /* Hauteur des champs de formulaire */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
}

.btn-primary {
  background-color: #1a63b3; /* Couleur de fond du bouton */
  border-color: #1a63b3; /* Couleur de la bordure du bouton */
}

.btn-primary:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
  border-color: #0056b3; /* Couleur de la bordure au survol */
}
