<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="display-5" style="color: #204f81;">Freelance</h2>
      <div class="border-bottom" style="border-color: #204f81;"></div>
    </div>
  </div>
  <div class="works-content">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let freelanceJob of items">
        <div class="position-relative border rounded" style="border-color: #204f81;">
          <div class="bg-primary text-center pt-4 pb-3" style="background-color: #204f81;">
            <i class="lni lni-briefcase text-white" style="font-size: 48px;"></i>
          </div>
          <div class="p-4">
            <div class="text-center">
              <h2 class="h4" style="color: #204f81;">{{ freelanceJob.titleJob }}</h2>
            </div>
            <p class="text-center">{{ freelanceJob.descriptionJob }}</p>
            <div class="text-center">
              <button class="btn" style="background-color: #204f81; color: #fff; border-color: #204f81;" (click)="showDetails(freelanceJob)">Show Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation" class="pagination-wrapper">
    <ul class="pagination justify-content-center mt-5">
      <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pagesArray" [class.active]="currentPage === page">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage == totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
