<section id="explore" class="explore">
    <div class="container">
      <div class="section-header">
        <h2>Transactions</h2>
        <p>Discover all your transactions.</p>
      </div><!--/.section-header-->
      <div class="explore-content">
        <div class="row">
          <!-- Boucle sur les transactions -->
          <div class="" *ngFor="let transaction of transactions">
            <div class="single-explore-item">
              <div class="single-explore-txt">
                <p *ngIf="transaction.housing != null">{{ transaction.housing.housingID }}</p>
                <!-- Affichage des articles -->
                <div *ngFor="let article of transaction.articles" class="article-item">
                  <p>Article ID: {{ article.articleId }}</p>
                  <p>Category: {{ article.categoryArticle }}</p>
                  <p>Description: {{ article.descriptionArticle }}</p>
                  <p>Price: {{ article.priceArticle }}</p>
                </div>
                    
                  
                <!-- Affichage des feedbacks -->
                <div *ngFor="let feedback of transaction.feedbacks" class="feedback-item">
                  <div class="feedback-content">
                    <p>{{ feedback.commentFeedback }}</p>
                    <!-- Utiliser ngClass pour définir la classe de couleur en fonction du gradeFeedback -->
                    <div class="explore-rating-box">
                      <span class="explore-rating" [ngClass]="{
                        'bg-theme-1': feedback.gradeFeedback >= 0 && feedback.gradeFeedback < 2,
                        'bg-theme-2': feedback.gradeFeedback >= 2 && feedback.gradeFeedback < 3,
                        'bg-theme-3': feedback.gradeFeedback >= 3 && feedback.gradeFeedback < 4,
                        'bg-theme-4': feedback.gradeFeedback >= 4 && feedback.gradeFeedback < 5,
                        'bg-theme-5': feedback.gradeFeedback === 5
                      }" style="display: flex; justify-content: center; align-items: center;">
                        {{ feedback.gradeFeedback }}
                      </span>
                      <span class="lni lni-star-fill" [ngClass]="{'checked': i <= feedback.gradeFeedback}" *ngFor="let i of [1, 2, 3, 4, 5]"></span>
                    </div>
                  </div>
                  <p class="feedback-date">{{ feedback.dateFeedback }}</p>
                </div>
  <p>-------------------------------------------------</p>
                <!-- Notation et champ de commentaire spécifiques à la transaction -->
                <div class="rating-comment-container">
                  <div class="rating-stars">
                    <p>notez votre experience  içi :</p>

                    <span class="star" (click)="setRating(transaction.transactionId, 1)" [class.selected]="feedbackposts[transaction.transactionId].rating >= 1">★</span>
                    <span class="star" (click)="setRating(transaction.transactionId, 2)" [class.selected]="feedbackposts[transaction.transactionId].rating >= 2">★</span>
                    <span class="star" (click)="setRating(transaction.transactionId, 3)" [class.selected]="feedbackposts[transaction.transactionId].rating >= 3">★</span>
                    <span class="star" (click)="setRating(transaction.transactionId, 4)" [class.selected]="feedbackposts[transaction.transactionId].rating >= 4">★</span>
                    <span class="star" (click)="setRating(transaction.transactionId, 5)" [class.selected]="feedbackposts[transaction.transactionId].rating >= 5">★</span>
                </div>

                  <div class="comment-box">
                    <textarea name="commentaire" [(ngModel)]="feedbackposts[transaction.transactionId].commentaire" cols="30" rows="5" placeholder="Leave a comment"></textarea>
                    <button class="btn btn-warning" (click)="addFeedbackToTransaction(transaction.transactionId)">Post</button>
                  </div>
                </div>
  
                <!-- Affichage de la notation actuelle de la transaction -->
                <p>Current Rating: {{ feedbackposts[transaction.transactionId].rating }}</p>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.explore-content-->
    </div><!--/.container-->
  </section>
  