<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="mail-seccess section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12">
				<!-- Error Inner -->
				<div class="success-inner">
					<h1><i class="fa fa-envelope"></i><span>Your payment Sent Successfully!</span></h1>
					<p>Aenean eget sollicitudin lorem, et pretium felis. Nullam euismod diam libero, sed dapibus leo laoreet ut. Suspendisse potenti. Phasellus urna lacus</p>
          <button routerLink="/home" type="submit" class="btn w-80 btn-lg  custom-button">
            Go Home
        </button>
        
       
				</div>
				<!--/ End Error Inner -->
			</div>
		</div>
	</div>
  <br> <br>
</section>