<div class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5>Housing Details</h5>
      </div>
      <div class="card-body">
        <ng-container *ngIf="housing; else loadingTemplate">
          <div class="row">
            <div class="col-md-6">    
              <h5 class="card-title">{{ housing.typeHousing }}</h5>
              <p class="card-text">Description: {{ housing.descriptionHousing }}</p>
              <p class="card-text">Location: {{ housing.locationHousing }}</p>
              <p class="card-text">Availability: {{ housing.availabilityHousing }}</p>
              <p class="card-text">Price: {{ housing.priceHousing }}</p>
              
            
              <button class="btn btn-primary" (click)="navigateToListTimeSlot()">Lister les disponibilités</button>
              <button class="btn btn-primary"(click)=navigateToListVisit() >Lister les visites programmées</button><!-- Bouton pour ajouter un créneau horaire -->
            </div>
            <div class="col-md-6">
              <iframe [src]="mapUrl" width="100%" height="300" frameborder="0"></iframe>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <h5>Images</h5>
              <div class="row d-flex justify-content-between">
                <div class="col-md-3 mb-3" *ngFor="let image of housing.images">
                  <a data-toggle="modal" [attr.data-target]="'#imageModal' + image">
                    <img class="img-fluid mb-2" [src]="'data:image/jpeg;base64,' + housing.images" alt="Housing Image" width="400" height="200"> 
                  </a>
                  <!-- Modal -->
                  <div class="modal fade" [id]="'imageModal' + image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <img class="img-fluid mb-2" [src]="'data:image/jpeg;base64,' + housing.images" alt="Housing Image" width="400" height="200"> 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Affichage des créneaux horaires disponibles -->
          
        </ng-container>
        <ng-template #loadingTemplate>
          <p>Loading...</p>
        </ng-template>
      </div>
    </div>
  </div>
  
