<h1>My Cart</h1><br>

<div class="container">
  <div class="table-container">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th></th>
          <th>Label</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of cart">
          <td><img class="img-thumbnail" [src]="'data:/jpeg;base64,' + article.imgArticle" alt="Article Image"></td>
          <td><a [routerLink]="['/articleDetails', article.articleId]" class="nameC black-text no-underline">{{ article.nameArticle }}</a></td>
          <td>{{ article.priceArticle }}</td>
          <td>
            <div (click)="removeFromCart(article.articleId)">
              <button class="bi bi-cart-x"></button>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg>
            </div>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div></div>
  

  
    <div class="cart-summary"> <!-- Added red-table class -->
        <p><strong>Basket total: {{ getTotal() }}</strong></p>
        <table class="custom-table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of getObjectKeys(totalsPerUser)">
              <td>{{ user }}</td>
              <td>{{ totalsPerUser[user] }}</td>
              <td>
           
           
           
           
              <ng-container *ngIf="possible">
                <button *ngIf="possible.banned === 0" class="btn btn-dark" (click)=" getArticlesUsedByUserAsJson(user)">Buy Now</button>
        
                <div *ngIf="possible.banned !== 0">
                  <!-- Button trigger modal -->
                  <button type="button custom-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    buy now
                  </button>
                </div>
              </ng-container>
        
              <!-- Modal -->
             
              </td>
           
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ban Information</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Affiche le nombre de jours dans le modal -->
              <div *ngIf="possible && possible.days">"You are banned for 30 days because you have written inappropriate content. It's remaining {{ possible.days }} days."</div>
            </div>
            <div class="modal-footer">
              <!-- Ajoutez les boutons de la modal si nécessaire -->
            </div>
          </div>
        </div>
      </div>
  
  